#p {
    font-family: oswald;
    font-size: 20px;
    font-color: white;
    
}

body {
    background-image: url("bg.jpg");
    background-color: black;
}

#1 {
    border-style: solid;
    border-color: white;
}
